@import url("https://fonts.googleapis.com/css?family=Rubik:500");
/* line 6, /Users/maya/Documents/GitHub/HopHacksS18/Development/R1/Extension/css/style.scss */
::-webkit-scrollbar {
  display: none; }

/* line 10, /Users/maya/Documents/GitHub/HopHacksS18/Development/R1/Extension/css/style.scss */
body, html {
  width: 200px;
  font-family: 'Rubik';
  font-weight: 500;
  color: #110425;
  background: url("../img/pattern.png");
  margin: 0;
  padding: 0; }

/* line 21, /Users/maya/Documents/GitHub/HopHacksS18/Development/R1/Extension/css/style.scss */
h1, h2, h3, h4, h4, h5, h6, p, div {
  margin: 0;
  padding: 0; }

/* line 26, /Users/maya/Documents/GitHub/HopHacksS18/Development/R1/Extension/css/style.scss */
h1 {
  font-size: 20px;
  font-weight: 500; }

/* line 29, /Users/maya/Documents/GitHub/HopHacksS18/Development/R1/Extension/css/style.scss */
h2 {
  font-size: 18px;
  font-weight: 500; }

/* line 32, /Users/maya/Documents/GitHub/HopHacksS18/Development/R1/Extension/css/style.scss */
h3 {
  font-size: 16px;
  font-weight: 500; }

/* line 35, /Users/maya/Documents/GitHub/HopHacksS18/Development/R1/Extension/css/style.scss */
h4 {
  font-size: 14px;
  font-weight: 500; }

/* line 38, /Users/maya/Documents/GitHub/HopHacksS18/Development/R1/Extension/css/style.scss */
h5, h6 {
  font-size: 10px;
  font-weight: 500; }

/* line 41, /Users/maya/Documents/GitHub/HopHacksS18/Development/R1/Extension/css/style.scss */
p {
  font-size: 10px;
  font-weight: 500; }

/* line 48, /Users/maya/Documents/GitHub/HopHacksS18/Development/R1/Extension/css/style.scss */
.product {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: white;
  padding: 10px 0;
  border-bottom: 1px solid #110425; }

/* line 58, /Users/maya/Documents/GitHub/HopHacksS18/Development/R1/Extension/css/style.scss */
.percentage {
  text-align: right; }

/* line 62, /Users/maya/Documents/GitHub/HopHacksS18/Development/R1/Extension/css/style.scss */
.details {
  height: 150px;
  overflow-y: scroll;
  padding: 16px 10px; }

/* line 66, /Users/maya/Documents/GitHub/HopHacksS18/Development/R1/Extension/css/style.scss */
.details > h5 {
  margin-bottom: 6px; }

/* line 70, /Users/maya/Documents/GitHub/HopHacksS18/Development/R1/Extension/css/style.scss */
.feedback-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6px; }

/* line 78, /Users/maya/Documents/GitHub/HopHacksS18/Development/R1/Extension/css/style.scss */
.feedback-bar {
  height: 10px;
  width: 100%;
  border: 1px solid #110425;
  border-radius: 3px;
  overflow: hidden;
  background: white;
  margin-bottom: 6px; }

/* line 86, /Users/maya/Documents/GitHub/HopHacksS18/Development/R1/Extension/css/style.scss */
.feedback-bar-sizer {
  margin: 0;
  padding: 0;
  height: 100%;
  transition: 0.3s; }

/* line 92, /Users/maya/Documents/GitHub/HopHacksS18/Development/R1/Extension/css/style.scss */
.feedback-bar-sizer:hover {
  background: #fce0f0; }

/* line 94, /Users/maya/Documents/GitHub/HopHacksS18/Development/R1/Extension/css/style.scss */
.feedback-bar-pattern {
  width: 0%;
  border-right: 1px solid #110425;
  background: url("../img/feedback-bar.png");
  animation: feedback-bar 1.2s ease-in-out 1 forwards; }

@keyframes feedback-bar {
  from {
    width: 0%; }
  to {
    width: 100%; } }

/* line 108, /Users/maya/Documents/GitHub/HopHacksS18/Development/R1/Extension/css/style.scss */
.feedback:nth-of-type(1) .feedback-bar-pattern {
  animation-delay: 0s; }

/* line 112, /Users/maya/Documents/GitHub/HopHacksS18/Development/R1/Extension/css/style.scss */
.feedback:nth-of-type(2) .feedback-bar-pattern {
  animation-delay: 0.2s; }

/* line 116, /Users/maya/Documents/GitHub/HopHacksS18/Development/R1/Extension/css/style.scss */
.feedback:nth-of-type(3) .feedback-bar-pattern {
  animation-delay: 0.4s; }

/* line 120, /Users/maya/Documents/GitHub/HopHacksS18/Development/R1/Extension/css/style.scss */
.feedback:nth-of-type(4) .feedback-bar-pattern {
  animation-delay: 0.6s; }

/* line 124, /Users/maya/Documents/GitHub/HopHacksS18/Development/R1/Extension/css/style.scss */
.feedback:nth-of-type(5) .feedback-bar-pattern {
  animation-delay: 0.8s; }

/*# sourceMappingURL=style.css.map */